artifacts
[Bb]uilds
[Bb]uild
[Bb]uilds_BurstDebug*
obj
obj.meta
bin
bin.meta
.Editor
upm-ci~
test-results


.build_script/**
node_modules/**
.DS_Store
.npmrc
!Documentation~
!.Documentation
npm-debug.log
build.sh.meta
build.bat.meta
utr

RiderScriptEditorPersistedState*

.idea/
.vs
.vscode
.vsconfig
.bin
.download

*.log
*.suo
*.user
*.userprefs
*.VC.*

*.~undo-tree~

xcuserdata
Packages/com.unity.polyspatial/Runtime/Source~/PolySpatialRealityKit/DerivedData

mono_crash*
InitTestScene*

UserSimulationSettings
Projects/PolySpatialSamples/Assets/XR/UserSimulationSettings.meta

Packages/com.unity.polyspatial/Tests/Results/**
Packages/com.unity.polyspatial/Tests/Results.meta
Projects/PolySpatialSamples/Assets/Tests/Results/**
Projects/PolySpatialSamples/Assets/Tests/Results.meta
Projects/PolySpatialSamples/Assets/ActualImages/**
Projects/PolySpatialSamples/Assets/ActualImages.meta

# Shell integration test failure indicator
/FAILED
